/* You can add global styles to this file, and also import other style files */
.ui-menu {
    height: 600px !important;
    }

body {
    background-color: whitesmoke;
}

.ui-toast {
    margin-top: 2%;
    margin-right: 15%;
}

body .md-inputfield {
    display: block;
    position: relative;
}

body .ui-inputtext {
    background: transparent no-repeat;
    background-image: linear-gradient(to bottom, #1E88E5, #1E88E5), linear-gradient(to bottom, #bdbdbd, #bdbdbd);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    border-width: 0;
    padding: 2px;
    font-size: 14px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
}

fieldset#ui-fieldset-0 {
    border: none !important;
}

fieldset#ui-fieldset-3{
    border: none !important;
}

body .ui-widget, body .ui-widget .ui-widget {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-decoration: none;
}
body .ui-fieldset {
    width: 74% !important;
    margin-left: 14%;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend{
    width: 10% !important;
    font-size: 1.0rem;
}

.fieldclas{
    width: 100% !important;
    border: 0 none;
}

.fieldclasEmail{
    width: 100% !important;
}

.cardpai {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

.card {
    background-color: papayawhip !important;
}

.cardlogin {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.campologin{
    margin-left: 18%;
    margin-right: 18%;
}

fieldset#ui-fieldset-1 {
    margin-left: 2%;
    width: 96% !important;
}
fieldset#ui-fieldset-2 {
    margin-left: 2%;
    width: 96% !important;
}

span.link {
    color: #2978D4;
    cursor: pointer;
    text-decoration: underline;
  }

.distTab {
    margin-bottom: 2%;
}

@import "~@ng-select/ng-select/themes/default.theme.css";
